.campaign {
  padding: 0.5em
}

.campaign header {
  text-align: center;
  background-color: #2e4c5d;
  z-index: 100;
  padding: 1em 0;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.is-sticky {
  border-bottom: 3px solid rgba(255,255,255,0.5);
}

h2 {
  color: #FFFFFF;
  font-size: 2.25em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0 auto;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 auto;
}

main {
  color: #FFFFFF;
  text-align: left;
  padding: 1em 0;
}

.description {
  width: 60%;
  margin: 0 auto 2em;
  text-align: center;
  font-size: 1.2em;
}

.content {
  padding: 1em 10em;
}

.back,
.next {
  flex: 1 1;
  color: #FFFFFF;
  font-size: 1.5em;
  display: none;
}

.sticky {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-sticky .back,
.is-sticky .next {
  display: block;
}

.header-content {
  flex: 2 1;
}

main nav {
  padding: 2em;
  clear: both;
  text-align: center;
}

main .menu a {
  color: #FFFFFF;
}

.campaign a:hover {
  color: greenyellow;
}
