.session-list h3 {
  font-family: "cronos-pro-display", sans-serif;
}

.session-list .description {
  text-align: left;
  margin-top: 2em;
}

.session-list .description h4 {
  border: 1px solid #FFFFFF;
}

.session-list .description h5 {
  font-size: 1em;
  border-bottom: 1px solid #FFFFFF;
}

.session-listing.menu {
  margin-bottom: 2em;
}

.session-listing .menu-item {
  border: 2px solid black;
  margin: 20px 10px;
  height: 15em;
  min-width: 360px;
  max-width: 30%;
  position: relative;
}

.session-listing .menu-item a {
  background-color: #CCCCCC;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.session-listing span {
  background-color: rgba(0,0,0,0.5);
  border-top: 3px solid rgba(0,0,0,0.4);
  bottom: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 1em;
  left: 0;
  position: absolute;
  width: 90%;
  padding: 5%;
}

.session-listing a:hover span {
  color: greenyellow;
}

.session-listing .caption {
  position: absolute;
  width: 100%;
  bottom: -2.5em;
  text-align: center;
  font-family: "cronos-pro-display", sans-serif;
  font-size: 1.2em;
}

.campaign-pages .menu-item {
  min-width: 200px;
  max-width: 20%;
  height: 10em;
}

@media (max-width: 500px) {
  .description {
    width: 90%;
  }

  .session-list .description {
    margin-top: 0;
  }

  .campaign-pages .menu-item,
  .session-listing .menu-item {
    min-width: 285px;
    height: 10em;
  }
}
