.session-detail h2 {
  font-family: "cronos-pro-display", sans-serif;
}

.session-detail .back,
.session-detail .next {
  display: block;
}

.session-detail .footer-nav i.fa {
  font-size: 0.7em;
}

.session-date {
  text-align: center;
  font-size: 0.9em;
}

@media (max-width: 500px) {
  .session-detail .sticky .back,
  .session-detail .sticky .next {
    display: none;
  }
}
