.static main {
  margin-top: 1em;
}

.static main p {
  max-width: 30em;
  margin: 1em auto;
}

.static blockquote {
  max-width: 25em;
  margin: 2em auto;
  position: relative;
}

.static main h2 {
  font-size: 2.25em;
  letter-spacing: 0.1em;
  margin: 1em auto;
  text-align: center;
}

.static main h3 {
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 2em auto 0.5em;
  text-align: center;
}

.static main h4 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 2em auto 0.5em;
  text-align: center;
  border: 1px solid white;
  max-width: 28em;
}

.static main a:hover {
  color: greenyellow;
}

@media (max-width: 500px) {
  .static main {
    padding: 1em;
  }
}
