h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

body {
  background-color: #FFFFFF;
  font-family: "omnes-pro", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: #CCCCCC;
}

#root {
  max-width: 80em;
  margin: 0 auto;
}

main {
  background-color: #194e6d;
  padding: 2em;
}

.site-header {
  background: url(./logo.svg) center center no-repeat;
  height: 5em;
  margin: 1em auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.site-nav {
  background-color: #444444;
  color: #FFFFFF;
}

.site-nav {
  padding: 0.5em;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu .menu-item {
  flex: 1 1;
}

.menu a {
  color: #AAAAAA;
  font-size: 1.25em;
}

.menu .active {
  color: #FFFFFF;
}

footer {
  padding: 2vw;
}

footer p {
  margin: 0;
}
