body {
  background-color: #FFFFFF;
  font-family: "omnes-pro", sans-serif;
  text-align: center;
}

.site-header {
  background: url(./logo.svg) center center no-repeat;
  height: 5em;
  margin: 1em auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.site-nav {
  background-color: #444444;
  color: #FFFFFF;
}

.site-nav {
  padding: 0.5em;
}

.menu {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu .menu-item {
  flex: 1 1;
}

.menu a {
  color: #AAAAAA;
  font-size: 1.25em;
  text-decoration: none;
}

.menu .active a {
  color: #FFFFFF;
}

.campaign-listing .menu-item {
  background-color: #CCCCCC;
  background-size: cover;
  border: 2px solid black;
  margin: 20px 10px;
  min-height: 12em;
  position: relative;
}

.campaign-listing .menu-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.campaign-listing span {
  background-color: rgba(0,0,0,0.5);
  border-top: 3px solid rgba(0,0,0,0.4);
  bottom: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2vw;
  left: 0;
  position: absolute;
  text-decoration: none;
  width: 100%;
}

.campaign-listing .active {
  flex: 2 0;
  border: 3px solid #4098CB;
}

.campaign-listing .active span {
  background-color: rgba(64,152,203,0.7);
  border-top: 3px solid rgba(64,152,203,0.7);
  color: #FFFFFF;
  font-size: 2.5vw;
}

.campaign {
  background-color: #194e6d;
}

h2 {
  color: #FFFFFF;
  font-size: 2.25em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding-top: 0.5em;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 auto 1.5em;
}

.character {
  background-size: cover;
  min-height: 140px;
  position: relative;
  margin-bottom: 5em;
}

.character span {
  color: #FFFFFF;
  position: absolute;
  bottom: -1.5em;
  width: 100%;
  left: 0;
  right: 0;
}

main {
  color: #FFFFFF;
  text-align: left;
}

aside {
  background-color: #0f3647;
  border: 2px solid #FFFFFF;
  width: 30vw;
  min-width: 250px;
  float: right;
  padding: 1em;
}

article {
  padding-left: 80px;
  height: 80px;
}

.npc p {
  margin: 0;
  padding: 0;
}
