
.campaign {
  background-color: #194e6d;
  padding: 0.5em
}

header {
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-size: 2.25em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding-top: 0.5em;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 auto 1.5em;
}

main {
  color: #FFFFFF;
  text-align: left;
  padding: 0 1em;
}

.description {
  width: 60%;
  margin: 0 auto 2em;
  text-align: center;
  font-size: 1.3em;
}

.content {
  padding-left: 10em;
}

.campaign nav {
  padding: 2vw;
}

.campaign nav a {
  color: #FFFFFF;
}
