
.campaign {
  background-color: #194e6d;
}

header {
  text-align: center;
}

h2 {
  color: #FFFFFF;
  font-size: 2.25em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0 auto;
  padding-top: 0.5em;
}

h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 auto 1.5em;
}

main {
  color: #FFFFFF;
  text-align: left;
  padding: 2vw;
}

aside {
  background-color: #0f3647;
  border: 2px solid #FFFFFF;
  width: 30vw;
  min-width: 250px;
  float: right;
  padding: 1em;
  margin-left: 2vw;
  margin-top: 2vw;
}

h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: normal;
}

.description {
  width: 60%;
  margin: 0 auto 2em;
  text-align: center;
}

.npc {
  background-position: center left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0.75em;
  padding-left: 80px;
  height: 80px;
}

.npc p {
  flex: 1 1;
  margin: 0;
}

.campaign nav {
  padding: 2vw;
}

.campaign nav a {
  color: #FFFFFF;
}
